// media queries
$lgDesktopWidth: 1440px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$phoneWidth: 425px;
$smPhoneWidth: 375px;

// colors
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
